  .msg_e {
    width: 90%;
    margin: 20px auto;
    background: #bcc0c2;;
    padding: 20px;
    color: #fff;
    position: relative;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  .msg_e:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #bcc0c2;
    border-right: 10px solid transparent;
    border-top: 10px solid #bcc0c2;
    border-bottom: 10px solid transparent;
    right: -19px;
    top: 6px;
  }

  .msg_r {
    width: 90%;
    margin: 20px auto;
    background: #bcc0c2;
    padding: 20px;
    color: #fff;
    position: relative;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  .msg_r:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #bcc0c2;
    border-top: 10px solid #bcc0c2;
    border-bottom: 10px solid transparent;
    left: -19px;
    top: 6px;
  }